.homeLayout {
    display: grid;
    grid-template-columns: 5rem 19rem 55rem 14rem;
    /* grid-template-columns: 5% 20% 58% auto; */
    gap: 10px;
    background-color: #0A123E;
    width: 100%;
}

.home-middle-layout {
    background-color: #00072D;
}

.homeayout {
    display: grid;
    grid-template-columns: 5rem 20rem 52rem 18rem;
    /* grid-template-columns: 90px 320px 800px 270px; */
    gap: 10px;
    background-color: #0A123E;
    width: 100%;
}

/* Default styles for all devices */

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {


    .homeLayout {
        display: block;
    }
}