.homeLayout {
    display: grid;
    /* grid-template-columns: 5rem 20rem 52rem 18rem; */
    grid-template-columns: 5% 20% 58% auto;
    gap: 10px;
    background-color: #0A123E;
    width: 100%;
}

.home-middle-layout {
    background-color: #00072D;
}

.homeayout {
    display: grid;
    grid-template-columns: 5rem 20rem 52rem 18rem;
    /* grid-template-columns: 90px 320px 800px 270px; */
    gap: 10px;
    background-color: #0A123E;
    width: 100%;
}