@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.header-bg {
    background-color: #00072d;
    width: auto;
    height: 5rem;
}

.logo {
    width: 37.577px;
    height: 42.491px;
}

.header-icon-bg {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #050c36;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);

}

.header-mini-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.search-box-bg {
    border-radius: 99px;
    background: #0A123E;
}

.head-input {
    width: 324px;
    height: 50px;
    border-radius: 99px;
    background: #0A123E;
}

.btn-top-icon {
    position: relative;
    width: 16.71px;
    height: 16.71px;
    right: -35px;
    top: -30px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            #08e2fb 0%,
            #0a123e 51.04%,
            #ec46e5 100%) 1;
    background: linear-gradient(#0a123e, #0a123e) padding-box,
        linear-gradient(to bottom, #08e2fb 0%, #0a123e 51.04%, #ec46e5 100%) border-box;
    border-radius: 50%;
}

.header-profile-arrow {
    position: relative;
    width: 16.71px;
    height: 16.71px;
    left: -20px;
    top: -20px;
    background: #0a123e;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            #08e2fb 0%,
            #0a123e 51.04%,
            #ec46e5 100%) 1;
    background: linear-gradient(#0a123e, #0a123e) padding-box,
        linear-gradient(to bottom, #08e2fb 0%, #0a123e 51.04%, #ec46e5 100%) border-box;
    border-radius: 50%;
}

.notification-text {
    color: #FFF;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
}

.header-person-name {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navborder {
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 12.5%,
            #ffffff 50%,
            rgba(255, 255, 255, 0) 87.5%);
    background: linear-gradient(#00072d, #00072d) padding-box,
        linear-gradient(90deg,
            rgba(255, 255, 255, 0) 12.5%,
            #ffffff 50%,
            rgba(255, 255, 255, 0) 87.5%) border-box;
    /* border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%); */
}

.gradient-mail {
    background: var(--f, linear-gradient(140deg, #00E7FC 2.07%, #EC46E5 98.58%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* message bg  */
.bg-msg {
    border: 2px solid;
    border-image: linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%) 1;
    background:
        linear-gradient(180.33deg, #0A123E 4.94%, rgba(40, 53, 126, 0.984375) 48.86%, #4E5AA0 86.51%, rgba(53, 71, 168, 0.6) 154.09%)padding-box,
        linear-gradient(139.69deg, #00E7FC 2.07%, #EC46E5 98.58%)border-box;
    border-radius: 5px;
}

.msg-border {
    border-bottom: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 12.5%, #FFFFFF 50%, rgba(255, 255, 255, 0) 87.5%) 1;
}

.notification-border {
    width: 300px;
    height: 30px;
    padding: 5px 30px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 0 1 0 0;
    border-image: linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%) 1;
    background:
        linear-gradient(#00072D, #00072D)padding-box,
        linear-gradient(to bottom, #08E2FB 0%, #0A123E 51.04%, #EC46E5 100%)border-box;
    border-radius: 0px 12px 12px 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}